<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}.::CeaNotes{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('auth') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('auth') }}
        {% endblock %}
    </head>
    <body>
    <main class="content-wrapper">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid" style="padding: 28px 130px">
            <a class="navbar-brand fs-3 d-inline-block d-flex align-items-center"
               href="">
                <i class="iconoir-bookmark-book iconoir-2x text-white"></i>
                <span class="brand-color">Cea</span><span class="text-white">Notes</span>
            </a>
            <div class="ms-auto">
                <button class="btn cs-btn-outline-primary shadow-sm btn-auth text-center d-flex align-items-center justify-content-center">
                    Signup
                    <i class="iconoir-user-plus ms-1"></i>
                </button>
            </div>
        </div>
    </nav>
        {% block content %}{% endblock %}
    </main>
    </body>
</html>
