
//======= colors ===========
$primary: #004D99;
$secondary: #80BFFF;
$linear-gradient: linear-gradient(#004D99, #003B75);
$bg-white: #EBF7FF;
$bg-dark: #001429;
$white: #f5f5f5;
$navbar-light-50: #003B75;
$navbar-light: #00284D;


